.app{
    background-image: linear-gradient(#cbbebeaa,#b3cfc0);
}
.content{
   visibility: hidden;
}
/* .check{
    justify-content: flex-start;
}
.todo {
    flex-grow: 1;
    margin-left: 10px;
} */

